[submodule "ml-agents"]
	path = ml-agents
	url = https://github.com/martkartasev/ml-agents.git
[submodule "text-generation-webui"]
	path = text-generation-webui
	url = git@github.com:oobabooga/text-generation-webui.git
